<div>
	<div class="candidate row">
    <div class="col-md-2"><input type="text" data-ng-model="candidate.name" placeholder="Name"/></div>
    <div class="col-md-2"><input type="text" data-ng-model="candidate.phone" placeholder="Phone"/></div>
    <div class="col-md-2"><input type="text" data-ng-model="candidate.email" placeholder="email"/></div>
    <div class="col-md-2"><input type="text" data-ng-model="candidate.skypeId" placeholder="skypeId"/></div>
    <div class="col-md-2"><select class="col-md-12" data-ng-model="candidate.skills" data-ng-options="skill for skill in skills">
    	</select></div>
    <div class="col-md-2"><button type="button" class="btn btn-primary btn-xs" data-ng-click="addCandidate()">
    	Add Candidate</button></div>
  </div>
  <div class="candidate row" ng-repeat="candidate in candidates">
    <div class="col-md-2"><b>{{ candidate.name }}</b></div>
    <div class="col-md-2">{{ candidate.phone }}</div>
    <div class="col-md-2">{{ candidate.email }}</div>
    <div class="col-md-2">{{ candidate.skypeId }}</div>
    <div class="col-md-2">{{ candidate.skills }}</div>
  </div>
</div>