<div>
	<div class="row heading">
		<span class="col-md-2">candidate name</span>
		<span class="col-md-2">phone</span>
    <span class="col-md-2">email</span>
		<span class="col-md-2">skype id</span>
		<span class="col-md-2">skill set</span>
		<span class="col-md-2">status</span>
  </div>
	<div class="row">
		<span class="col-md-2" data-ng-bind="candidate.name"></span>
		<span class="col-md-2" data-ng-bind="candidate.phone"></span>
    <span class="col-md-2" data-ng-bind="candidate.email"></span>
    <span class="col-md-2" data-ng-bind="candidate.skypeId"></span>
    <span class="col-md-2" data-ng-bind="candidate.skills"></span>
    <span class="col-md-2" data-ng-bind="candidate.status"></span>
  </div>
  <br>
  <div class="row heading">
		<span class="col-md-4">assign test</span>
		<span class="col-md-2">set interviewer</span>
		<span class="col-md-2">set test key</span>
  </div>
  <div class="row">
  	<div class="col-md-4">
			<select class="col-md-12 input-sm" data-ng-model="testAssigned"
				data-ng-options="test.name for test in tests">
				<option value=''>-- Select test --</option>
	    </select>
  	</div>
  	<div class="col-md-2">
			<select class="col-md-12 input-sm" data-ng-model="testAssigned.interviewer"
				data-ng-options="test.creator as test.creator for test in tests">
				<option value=''>-- Interviewer --</option>
	    </select>
  	</div>
  	<div class="col-md-2">
    	<input type="text" class="input-sm" data-ng-model="testAssigned.testkey" placeholder="-- test key --" />
    </div>
    <div class="col-md-2">
    	<button class="btn btn-primary btn-sm" data-ng-click="assignTest()">Assign test</button>
    </div>
  </div>
  <div class="row" data-ng-repeat="test in candidate.testsAssigned">
  	<div class="col-md-4">
			{{test.name}}
  	</div>
  	<div class="col-md-2">
			{{test.interviewer}}
  	</div>
  	<div class="col-md-2">
    	{{test.testkey}}
    </div>
    <div class="col-md-2">
    </div>
  </div>

  
</div>