<div class="well well-box">
	<div class="jumbotron">
	  <div data-if="test.questions[currentQuestion].type === 'concept'">
		  <div ng-bind="test.questions[currentQuestion].text"></div>
		  <div ng-if="test.questions[currentQuestion].options">
		  	<ul>
		  		<li ng-repeat="option in test.questions[currentQuestion].options">
		  			{{option.text}}
		  		</li>
		  </div>
		  <img ng-if="test.questions[currentQuestion].image" ng-src="{{test.questions[currentQuestion].image}}" />
		</div>

		<div ng-if="test.questions[currentQuestion].type === 'code'">
			<h2>{{test.questions[currentQuestion].title}} :</h2>
		  <pre ng-bind-html="test.questions[currentQuestion].content" contenteditable ng-model="test.questions[currentQuestion].content"></pre>
		  <button class="btn btn-primary" ng-click="runCode()">Run</button>
		  <h5>Output</h5>
		  <pre ng-bind="codeOutput"></pre>
		</div>
	</div>

	<div class="row marketing">
	  <p ng-if="test.questions[currentQuestion].note">
	    {{test.questions[currentQuestion].note}}
	  </p>
	</div>
	<button class="btn btn-prev"
		ng-disabled="currentQuestion === 0"
		ng-class="{ 'btn-primary': currentQuestion === test.questions.length - 1 }"
		ng-click="prevQuestion()">Prev</button>
	<button class="btn btn-primary btn-next"
		ng-disabled="currentQuestion === test.questions.length - 1"
		ng-click="nextQuestion()">Next</button>
</div>