<div class="well well-box">
	<div class="jumbotron">
	  <div ng-if="test.questions[currentQuestion].type !== 'Exercise'">
		  <div><b>{{test.questions[currentQuestion].text}}</b></div>
		  <div ng-if="test.questions[currentQuestion].options">
		  	<ul>
		  		<li ng-repeat="option in test.questions[currentQuestion].options">
		  			<label ng-if="test.questions[currentQuestion].type === 'Single Answer'">
		  				<input type="radio"
		  					name="question_{{currentQuestion}}"
		  					ng-model="test.questions[currentQuestion].answer"
		  					ng-value="option.text"
		  				 /> {{option.text}}
		  			</label>
		  			<label ng-if="test.questions[currentQuestion].type === 'Multiple Answers'">
		  				<input type="checkbox"
		  					ng-model="test.questions[currentQuestion].option[$index].answer"
		  					ng-value="option.text"
		  				 /> {{option.text}}
		  			</label>
		  		</li>
		  	</ul>
		  </div>
		  <div class="col-md-12" ng-if="test.questions[currentQuestion].type === 'Textual'">
		  	<textarea class="input-sm col-sm-12" data-ng-model="test.questions[currentQuestion].answer"
		  		placeholder="Answer ..."></textarea>
		  	<br></br>
		  </div>
		</div>

		<div ng-if="test.questions[currentQuestion].type === 'Exercise'">
			<div><b>{{test.questions[currentQuestion].text}}</b></div>
		  <pre ng-bind-html="test.questions[currentQuestion].content" contenteditable ng-model="test.questions[currentQuestion].content"></pre>
		  <button class="btn btn-primary btn-sm" ng-click="runCode()">Run</button>
		  <h5>Output</h5>
		  <pre ng-bind="codeOutput"></pre>
		</div>
	</div>
	
	<button class="btn btn-prev"
		ng-disabled="currentQuestion === 0"
		ng-class="{ 'btn-primary': currentQuestion === test.questions.length - 1 }"
		ng-click="prevQuestion()">Prev</button>
	<button class="btn btn-primary btn-next"
		ng-disabled="currentQuestion === test.questions.length - 1"
		ng-click="nextQuestion()">Next</button>
</div>