<div>
	<div class="row heading">
		<span class="col-md-4">test name</span>
		<span class="col-md-2">skills tested</span>
    <span class="col-md-2">creator</span>
    <span class="col-md-2">test type</span>
  </div>
	<div class="row">
		<span class="col-md-4" data-ng-bind="test.name"></span>
		<span class="col-md-2" data-ng-bind="test.skills"></span>
    <span class="col-md-2" data-ng-bind="test.creator"></span>
    <span class="col-md-2" data-ng-bind="test.type"></span>
  </div>
  <br>
  <h4>Questions</h4>
  <div class="row heading">
		<span class="col-md-6">question text</span>
		<span class="col-md-2">question type</span>
    <span class="col-md-4">answer options</span>
  </div>
  <!-- Question template -->
  <div class="row">
		<div class="col-md-6">
			<textarea class="input-sm col-sm-12" data-ng-model="question.text" placeholder="Type question ..."></textarea>
		</div>
		<div class="col-md-2">
			<select class="col-md-12 input-sm" data-ng-model="question.type"
				data-ng-options="type for type in questionTypes">
				<option value=''>-- Select type --</option>
      </select>
     </div>
		<div class="col-md-4">
			<div>
				<input type="text" class="input-sm" data-ng-model="option.text" placeholder="Option" focus-on="newOptionAdded"/>
				<button type="button" class="btn btn-xs btn-primary" data-ng-click="addOption()">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
				<button type="button" class="btn btn-xs btn-primary pull-right" data-ng-click="addQuestion()">
					Add question
				</button>
			</div>
			<br>
			<div>
				<ol>
					<li data-ng-repeat="option in question.options">
						{{ option.text }}
						<span class="glyphicon glyphicon-remove-circle pull-right cursor" data-ng-click="deleteOption($index)"></span>
					</li>
				</ol>
			</div>
			<div>
				
			</div>
		</div>
  </div>
  <!-- Question added to the test -->
  <div class="row" data-ng-repeat="question in test.questions">
		<div class="col-md-6">
			<span class="col-sm-12" data-ng-bind="question.text"></span>
		</div>
		<div class="col-md-2">
			<span class="col-md-12" data-ng-bind="question.type"></span>
    </div>
		<div class="col-md-4">
			<div>
				<ol>
					<li data-ng-repeat="option in question.options">
						{{ option.text }}
						<span class="glyphicon glyphicon-remove-circle pull-right cursor" data-ng-click="deleteOption($index)"></span>
					</li>
				</ol>
			</div>
		</div>
  </div>
</div>